<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" >
<head>
<meta charset ="UTF-8" ></meta>
<title> Hello World</title>
</head>
<body>
	<h1> Hello World</h1>
	<form method ="post" action ="/heelo" >
	Enter: <input type ="text" name ="request" />
	<input type ="submit" value ="click" />
	</form>
	
	<br/>
	<form method ="post" action ="/heelo/db" >
	Employee ID:<input type ="text" name ="input2" th:value ="${text2_value}" />
	<input type ="submit" value ="Click" />
	</form>

</body>
</html>
